
body {
	background-image: url("background.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: white;
}

a {
	color: white;
}

footer #footer {
	font-style: oblique;
	text-align: center;
}